/**************************************************************************************************************************/
/********************************************************index****************************************************************/


.index-style {

  margin: 10px;
  height: 100px;
  background: url("backgiris.png") center/cover no-repeat fixed;
  display: flex;
}

.btn-buyukluk {
  width: 150px;
}

.btn-mesafe {
  gap: 1rem;
  flex-wrap: wrap;

}

/**************************************************************************************************************************/
/********************************************************hakiimda****************************************************************/
hakkımda-style {
  background-color: #f8f9fa;
}

h1,
h2 {
  font-weight: bold;
}

/**************************************************************************************************************************/
/********************************************************sehir****************************************************************/
.slider {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(28, 22, 22, 0.4);
  border: none;
  color: rgb(17, 16, 16);
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
/**************************************************************************************************************************/
/********************************************************hakiimda****************************************************************/
